

    <html><head></head><body>
{% block content %}

    <h3>Dr. Serhat YILMAZ </h3>
    <em>drserhatyilmaz@gmail.com</em>
    <br>
    <br>
    <legend>Interests</legend>
    <li>Applied Mathematics</li>
    <li>Differential Equations</li>
    <li>Numerical Methods</li>
    <li>Data Cleaning</li>
    <li>Programming(C++, Python, Java...)</li>
    <legend>Education</legend>
    <li>Bachelor of Science in Mathematics(METU)- Lisans ODTÜ </li>
    <li>Master of Science in Mathematics-Computer(IKU)- Yüksek Lisans İKÜ </li>
    <li>Phd in Applied hhh Mathematics(FU)- Doktora FU</li>
    <legend>Some of Papers</legend>
    click <a href="https://drive.google.com/open?id=1xlQH5aLY4AXiP0DN9QMACg4jeh5RfvNw">here</a>
    <li></li>




{% endblock content %}</body></html>
